
	* {
		margin: 0;
		padding: 0;
	}

	a {
		text-decoration: none;
	}
	li {
		list-style: none;
	}
	html,body {
		width: 100%;
		height: 100%;
		overflow: hidden;
	}
	body {
		max-width: 750px;
		min-width: 320px;
		margin: 0 auto;
	}
	
	.index-header,.detail-header {
		height: 98px;
		line-height: 98px;
		width: 100%;
		text-align: center;
		position: relative;
	}
	.index-header {
		background: #f34336;
		color: #fff;
		font-size: 28px;
	}
		.index-header h1 {
			position: absolute;
			left: 0;
			top: 0;
			width: 140px;
			height: 98px;
			background: url('img/logo.png') no-repeat center;
			/* 把字通过缩进，隐藏掉 */
			text-indent: -9999px; 
		}

	.main {
		width: 100%;
		position: absolute;
		top: 98px;
		left: 0;
		right: 0;
		bottom: 98px;
		background: #fff;
	}
		.nav {
			width: 140px;
			height: 100%;
			background: #f4f4f4;
			overflow-y: scroll;
		}
			.nav li {
				text-align: center;
				margin-bottom: 15px;
			}
				.nav li a {
					color: #3a3a3a;
					font-size: 24px;
					display: block;
				}
				.nav-pic {
					display: block;
					width: 62px;
					height: 62px;
					margin: 0 auto 10px;
					border-radius: 50%;
				}
				.zhucai {
					background: url('img/zhucai.png') no-repeat center 8px #dbdbdb;
				}
				.hot {
					background: url('img/hot.png') no-repeat center 8px #dbdbdb
				}
				.line {
					display: block;
					width: 2px;
					height: 44px;
					background: #dbdbdb;
					margin: 0 auto;
				}

			.nav li.active a{
				color: #f34336;
			}
			.nav li.active .zhucai {
				background: url('img/zhucai.png') no-repeat center 8px #f34336;
			}
			.nav li.active .hot {
				background: url('img/hot.png') no-repeat center 8px #f34336;
			}
			.nav li:nth-child(1) {
				padding-top: 46px;
			}

		.list {
			position: absolute;
			right: 20px;
			left: 160px;
			bottom: 0;
			top: 0;
			overflow: hidden;
			overflow-y: auto;
		}
			.list h3 {
				font-size: 24px;
				color: #727a7f;
				padding: 20px 0;
			}
		.dinner-list img {
			width: 100%;
		}
		.dinner-pic{
			position: relative;
		}	
			.dinner-pic span.zhuo {
				height: 44px;
				line-height: 44px;
				position: absolute;
				right: 0;
				bottom: 5px;
				color: #fff;
				font-size: 24px;
				background: rgba(0, 0, 0, .6);
				padding-left: 12px;
				padding-right: 14px;
			}
				.dinner-pic span.zhuo i {
					display: block;
					width: 9px;
					height: 44px;
					background: url('img/left-bac.png') no-repeat;
					float: left;
					margin-left: -21px;
				}

	footer {
		height: 98px;
		line-height: 98px;
		text-align: center;
		width: 100%;
		background: #3e3a39;
		position: absolute;
		left: 0;
		bottom: 0;
		right: 0;
		color: green;
		font-size: 30px;
	}

	li button {
		padding: 10px;
		font-size: 30px;
		background: red;
	}
	li span.dinner-num {
		font-size: 30px;
	}





header.detail-header {
	font-size: 36px;
	color: #555;
	border-bottom: 1px solid #dbdbdb;
}

.back-button {
	width: 140px;
	height: 98px;
	position: absolute;
	left: 0;
	top: 0;
	background: url('img/back-bac.png') no-repeat center;
	border: 0;
	text-indent: -9999px;
	outline: none;
}

.detail-content {
	position: absolute;
	top: 98px;
	bottom: 188px;
	left: 0;
	right: 0;
	overflow: hidden;
	overflow-y: auto;
	background: #f4f4f4;
}

.detail-list {
	background: #fff;
	border: 1px solid #dbdbdb;
	border-left: none;
	border-right: none;
	padding: 0 30px;
	margin-top: 30px;
}

.detail-list li {
	height: 88px;
	line-height: 88px;
	overflow: hidden;
	position: relative;
	border-bottom: 1px solid #dbdbdb;
}

.detail-list li:last-child {
	border-bottom: none;
}

li.user-list {
	position: relative;
	padding-left: 70px;
	color: #999;
	border-bottom: 1px dashed #dbdbdb;
}

li.user-list h2 {
	font-size: 28px;
	font-weight: 400;
}

li.user-list img {
	width: 50px;
	height: 50px;
	position: absolute;
	left: 0;
	top: 19px;
	border-radius: 50%;
}

.detail-list h3 ,.detail-list .dinner-main{
	width: 50%;
	float: left;
}

.detail-list h3 {
	color: #333;
	font-size: 32px;
	font-weight: 400;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.dinner-main .dinner-price {
	font-size: 32px;
	color: #333;
	margin-left: 10px;
}

.dinner-main .dinner-price i {
	font-style: normal;
	font-size: 28px;
	color: #999;
}

.dinner-button-group {
	position: absolute;
	right: 0;
	top: 0;
}

.dinner-button-group button {
	width: 50px;
	height: 50px;
	border: 0;
	margin-top: 19px;
	outline: none;
}

button.jian {
	background: url('../img/jian.png') no-repeat;
}

button.jia {
	background: url('../img/jia.png') no-repeat;
}

.dinner-button-group span {
	font-size: 32px;
	color: #333;
}